@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap") * /
  @tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .my-top-menu-item {
    @apply text-slate-500 cursor-pointer py-1 relative hover:text-gray-800 after:absolute after:top-0 after:left-0 after:h-0.5 after:w-5 hover:after:w-full after:bg-light-coffee after:transition-all after:ease-in-out after:duration-300;
  }
  .my-icon {
    @apply w-5 h-5 inline-block;
  }
  .my-top-menu-ul-expanded{
    @apply absolute w-full top-10 opacity-95 bg-white transition-all duration-500 shadow-md text-center animate-slideDown;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
